@model CategoryViewModel

@{
    ViewData["Title"] = "نموذج القسم";
}

<h1 class="text-primary text-right mt-4 Lemonada">
    @(Model.Id > 0 ? "تعديل" : "انشاء") قسم
</h1>

<div class="whiteBackground container border mt-4">
    <form asp-action="@(Model.Id > 0 ? "Edit" : "Create")" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Id > 0)
        {
            @Html.HiddenFor(e => e.Id)
        }

        <div class="row">
            <div class="col-12 col-xl-9">
                <div class="row form-group mt-4">
                    <div class="col-12 col-lg-3">
                        <label asp-for="Name" class="col-form-label Lemonada text-primary"></label>
                    </div>
                    <div class="col-12 col-lg-9 col-xl-7 text-right">
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-lg-3">
                        <label class="col-form-label Lemonada text-primary">الاعراض</label>
                    </div>
                    <div class="col-12 col-lg-9 col-xl-7 text-right">
                        @for (int i = 0; i < Model.Sides.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model.Sides[i].Id" />
                                <input type="hidden" asp-for="@Model.Sides[i].Name" />
                                <input asp-for="@Model.Sides[i].IsSelected" class="form-check-input" />
                                <label class="mr-4 Lemonada">
                                    @Model.Sides[i].Name
                                </label>
                            </div>
                        }
                        <span asp-validation-for="Sides" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-lg-3">
                        <label asp-for="Picture" class="col-form-label Lemonada text-primary"></label>
                    </div>
                    <div class="col-12 col-lg-9 col-xl-7 text-right">
                        <input id="pic" asp-for="Picture" class="form-control" type="file" accept="image/*" />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group" style="direction: ltr;">
                    <div class="col-12 offset-2 col-lg-9 col-xl-7">
                        <div class="row">
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-success form-control Lemonada">رجوع</a>
                            </div>
                            <div class="col-6">
                                <input type="submit" class="btn btn-primary form-control Lemonada" value="@(Model.Id > 0 ? "تعديل" : "انشاء")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div id="pic-container" class="@(Model.Id > 0 ? string.Empty : "d-none")">
                    <img src="@(Model.Id > 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Picture)}" : string.Empty)" alt="Poster" class="img-thumbnail" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#pic').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                $(this).siblings('label').text(selectedFile);

                var posterContainer = $('#pic-container');
                var image = window.URL.createObjectURL(this.files[0]);

                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
    </script>
}